 <!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Log In</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Log In</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->


<section class="contact-form-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">

                <h1 class="h3 mb-3 font-weght-normal">
                    Pleace sign in
                </h1>

                <form method="post" class="mc-form fix">

                    <input type="hidden" value="@ViewBag.Returnurl" name="returnurl" />

                    <label class="sr-only">Email address</label>
                    <input type="text" name="username"
                           class="form-control"
                           placeholder="User name" />

                    <label class="sr-only">Password</label>
                    <input type="password" name="password"
                           class="form-control" />

                    <button class="default-btn" type="submit">
                        Sign in
                    </button>

                </form>

                <br />
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</section>

<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->